<div class=" page-search  ">
<div class="advance-search ">
    <div class="container">
        <div class=" justify-content-center">
            <div class="col  align-content-center">
                <form>
                    <div class="row   ">
                        <!-- <div class="form-group  col-xl-4 col-lg-3 col-md-6">
                            <input type="text" class="form-control my-2 my-lg-1" id="inputtext4"
                                placeholder='{{"searchFor" | translate}}'>
                        </div> -->
                        <div class="form-group col-lg-3 col-md-6">
                            <select class="w-100 form-control mt-lg-1 mt-md-2">
                                <option>{{"selectBrand" | translate}}</option>
                                <option value="1">BMW</option>
                                <option value="2">GMC</option>
                                <option value="4">Bentely</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <select class="w-100 form-control mt-lg-1 mt-md-2">
                                <option>{{"selectModel" | translate}}</option>
                                <option value="1">model 1</option>
                                <option value="2">model 2</option>
                                <option value="4">model 3</option>
                            </select>
                        </div>
                        
                        <div class="form-group col-lg-3 col-md-6">
                            <select class="w-100 form-control mt-lg-1 mt-md-2">
                                <option>{{"selectYear" | translate}}</option>
                                <option value="1">2020</option>
                                <option value="2">2021</option>
                                <option value="4">2022</option>
                            </select>
                        </div>
                        <!-- <div class="form-group col-lg-3 col-md-6">
                            <input type="text" class="form-control my-2 my-lg-1" id="inputLocation4" placeholder='{{"location" | translate}}'>
                        </div> -->
                        <div class="form-group col-xl-2 col-lg-3 col-md-6 align-self-center  ">
                            <button type="submit" class="btn btn-warning ">{{"search" | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>