<app-search ></app-search>
<section >
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="search-result bg-gray">
					<h2>{{"result" | translate}} "Lamborghini"</h2>
					<!-- <div class="category-search-filter">
						<div class="row">
							<div class="col-md-6 ">
								<strong>{{"sort" | translate}}</strong>
								<select>
									<option>{{"Recommended" | translate}}</option>
									<option value="1">{{"TopRated" | translate}}</option>
									<option value="2">{{"lowestPrice" | translate}}</option>
									<option value="3">{{"heightPrice" | translate}}</option>
									
								  
								</select>
							</div>
						</div>
					</div> -->
					<div class="form-group  btn-group col-lg-3 col-md-6">
						<button class="btn bg-dark text-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
							{{"sort" | translate}}
						</button>
						<ul class="dropdown-menu ">
						  <li><a class="dropdown-item bg-dark text-warning"value="1">{{"TopRated" | translate}}</a></li>
						  <li><a class="dropdown-item bg-dark text-warning" value="2">{{"lowestPrice" | translate}}</a></li>
						  <li><a class="dropdown-item bg-dark text-warning"value="3">{{"heightPrice" | translate}}</a></li>
						</ul>
					  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4">
				<div class="category-sidebar">
	
					<div class="brand-logos">
							<a  class="brand-logos--svg" >
									<img alt="ford-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/ford-logo.svg" width="60" height="60">
								</a>
							<a  class="brand-logos--svg" ><img alt="mercedes-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/mercedes-logo.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg"><img alt="gmc-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/gmc-logo.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg"><img alt="bmw-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/bmw-logo.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg" ><img alt="dodge-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/dodge-logo.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg" ><img alt="hummer-icon"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/hummer-icon.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg" ><img alt="cadillac-logo-alt"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/cadillac-logo-alt.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg" >
								<img alt="lamborghini-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/lamborghini-logo.svg" width="60" height="60">
							</a>
							<a  class="brand-logos--svg" >
								<img alt="ferrari-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/ferrari-logo.svg" width="60" height="60">
							</a>
							<a  class="brand-logos--svg" >
								<img alt="porsche-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/porsche-logo.svg" width="60" height="60">
							</a>
							<a  class="brand-logos--svg">
								<img alt="volkswagen-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/volkswagen-logo.svg" width="60" height="60">
							</a>
							<a  class="brand-logos--svg" >
								<img alt="jeep-icon"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/jeep-icon.svg" width="60" height="60">
							</a>
					</div>



					<div class="widget filter ">
						<h4 class="widget-header ">{{"show" | translate}}</h4>
						<div class="form-group  btn-group w-100 my-2">
                            <button class="btn btn-dark text-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                {{"selectBrand" | translate}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark  ">
                              <li><a class="dropdown-item text-warning" >BMW</a></li>
                              <li><a class="dropdown-item text-warning" >GMC</a></li>
                              <li><a class="dropdown-item text-warning" >Bentely</a></li>
                            </ul>
                          </div>

						 

						  <div class="form-group  btn-group w-100 my-2">
                            <button class="btn btn-dark text-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
								{{"selectModel" | translate}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark  ">
                                <li><a class="dropdown-item text-warning" >موديل 1</a></li>
                                <li><a class="dropdown-item text-warning" >موديل 2</a></li>
                                <li><a class="dropdown-item text-warning" >موديل 3</a></li>
                            </ul>
                          </div>

						<div class="form-group  btn-group w-100 my-2">
                            <button class="btn btn-dark text-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                {{"selectYear" | translate}}
                            </button>
                            <ul class="dropdown-menu ">
                              <li><a class="dropdown-item" >2022</a></li>
                              <li><a class="dropdown-item" >2021</a></li>
                              <li><a class="dropdown-item" >2020</a></li>
                              <li><a class="dropdown-item" >1019</a></li>
                              <li><a class="dropdown-item" >2018</a></li>
                            </ul>
                        </div>
						
						<div class="row">
							<h4 class="widget-header">{{"price" | translate}}</h4>
											
							<div class="row justify-content-between mt-2">
							<input class="range-track col-5" type="text" data-slider-min="0" data-slider-max="1000000" data-slider-step="5" data-slider-value="[0,1000000]" placeholder="من">
							<input class="range-track col-5" type="text" data-slider-min="10"  data-slider-step="5" data-slider-max="1000000" data-slider-value="[0,1000000]" placeholder="الي">
											
							<span class="value">SR10 - SR5000</span>

							<!-- <label for="customRange3" class="form-label">Example range</label>
							<input type="range" class="form-range" min="0" max="500000" step="10000" id="customRange3"> -->




						

							
						</div>


						<h4 class="widget-header mt-3">{{"Condition" | translate}}</h4>
						<div class="form-check w-50">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" value="">
							{{"new" | translate}}
						</label>
						</div>
						<div class="form-check w-50">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" value="">
							{{"used" | translate}}
						</label>
						</div>
						
						
						</div>
						<button type="submit" class="btn  my-btn w-100 mt-3 "><span class="bi bi-search"></span></button>
					</div>

					
					<div class="widget product-shorting">
					
					</div>

				</div>
			</div>
			<div class="col-lg-9 col-md-8">
				



	<div class="product-grid-list">
		<div class="row mt-30">


			<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-1.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>	

	<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-2.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>	
					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-3.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>



					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
					<div class="product-item bg-light">
							<div class="card">
								<div class="thumb-content">
						<div class="price">SR679,999</div>
							<button class="fav btn btn-dark bi bi-heart-fill"></button>
						<a routerLink="/productdetails">
						<img class="card-img-top img-fluid" src="../../../assets/images/products/products-1.jpg" alt="Card image cap">
						</a>
				</div>
				<div class="card-body">
					<p  style="font-size:small;">Lamborghini</p>

					<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
					<div class="row mt-3  "> 
						<p class=" ">{{"model" | translate}}: 2015</p>
						<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
					</div>		 
				</div>
			</div>
		</div>
				</div>


					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-2.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>


					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
					<div class="product-item bg-light">
							<div class="card">
								<div class="thumb-content">
						<div class="price">SR679,999</div>
							<button class="fav btn btn-dark bi bi-heart-fill"></button>
						<a routerLink="/productdetails">
						<img class="card-img-top img-fluid" src="../../../assets/images/products/products-1.jpg" alt="Card image cap">
						</a>
				</div>
				<div class="card-body">
					<p  style="font-size:small;">Lamborghini</p>

					<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
					<div class="row mt-3  "> 
						<p class=" ">{{"model" | translate}}: 2015</p>
						<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
					</div>		 
				</div>
			</div>
		</div>
				</div>



					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
					<div class="product-item bg-light">
							<div class="card">
								<div class="thumb-content">
						<div class="price">SR679,999</div>
							<button class="fav btn btn-dark bi bi-heart-fill"></button>
						<a routerLink="/productdetails">
						<img class="card-img-top img-fluid" src="../../../assets/images/products/products-1.jpg" alt="Card image cap">
						</a>
				</div>
				<div class="card-body">
					<p  style="font-size:small;">Lamborghini</p>

					<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
					<div class="row mt-3  "> 
						<p class=" ">{{"model" | translate}}: 2015</p>
						<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
					</div>		 
				</div>
			</div>
		</div>
				</div>



					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-4.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-3.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>



									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-4.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-2.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
					<div class="product-item bg-light">
							<div class="card">
								<div class="thumb-content">
						<div class="price">SR679,999</div>
							<button class="fav btn btn-dark bi bi-heart-fill"></button>
						<a routerLink="/productdetails">
						<img class="card-img-top img-fluid" src="../../../assets/images/products/products-1.jpg" alt="Card image cap">
						</a>
				</div>
				<div class="card-body">
					<p  style="font-size:small;">Lamborghini</p>

					<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
					<div class="row mt-3  "> 
						<p class=" ">{{"model" | translate}}: 2015</p>
						<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
					</div>		 
				</div>
			</div>
		</div>
				</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-4.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-3.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>


									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<div class="price">SR679,999</div>
								<button class="fav btn btn-dark bi bi-heart-fill"></button>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-2.jpg" alt="Card image cap"></a>
						</div>
						<div class="card-body">
							<p  style="font-size:small;">Lamborghini</p>
							<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
							<div class="row mt-3  "> 
								<p class=" ">{{"model" | translate}}: 2015</p>
								<p class=" "> {{"Mileage" | translate}} :42,717 كم</p>
							</div>		 
						</div>	
					</div>
				</div>
			</div>


			
						
				
				
						
					</div>
				</div>
				<div class="pagination justify-content-center mb-2">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="category.html" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="category.html">1</a></li>
							<li class="page-item active"><a class="page-link" href="category.html">2</a></li>
							<li class="page-item"><a class="page-link" href="category.html">3</a></li>
							<li class="page-item">
								<a class="page-link" href="category.html" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>