<app-search ></app-search>
<section >
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="search-result bg-gray">
					<h2>{{"result" | translate}} "Lamborghini"</h2>
					<p> Results on 12 December, 2017</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4">
				<div class="category-sidebar">
	
					<div class="brand-logos">
							<a  class="brand-logos--svg" >
									<img alt="ford-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/ford-logo.svg" width="60" height="60">
								</a>
							<a  class="brand-logos--svg" ><img alt="mercedes-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/mercedes-logo.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg"><img alt="gmc-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/gmc-logo.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg"><img alt="bmw-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/bmw-logo.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg" ><img alt="dodge-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/dodge-logo.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg" ><img alt="hummer-icon"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/hummer-icon.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg" ><img alt="cadillac-logo-alt"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/cadillac-logo-alt.svg" width="60" height="60"></a>
							<a  class="brand-logos--svg" >
								<img alt="lamborghini-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/lamborghini-logo.svg" width="60" height="60">
							</a>
							<a  class="brand-logos--svg" >
								<img alt="ferrari-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/ferrari-logo.svg" width="60" height="60">
							</a>
							<a  class="brand-logos--svg" >
								<img alt="porsche-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/porsche-logo.svg" width="60" height="60">
							</a>
							<a  class="brand-logos--svg">
								<img alt="volkswagen-logo"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/volkswagen-logo.svg" width="60" height="60">
							</a>
							<a  class="brand-logos--svg" >
								<img alt="jeep-icon"  class="svg-size-5x" src="https://betacdn.haraj.com.sa/assets/images/svg/jeep-icon.svg" width="60" height="60">
							</a>
					</div>



					<div class="widget filter ">
						<h4 class="widget-header ">{{"show" | translate}}</h4>
						<select class="my-2 btn w-75 ">
							<option>{{"selectBrand" | translate}}</option>
							<option value="1">BMW</option>
							<option value="2">GMC</option>
							<option value="4">Bentely</option>
						</select>
						<select class="my-2 btn w-75">
							<option>{{"selectModel" | translate}}</option>
							<option value="1">model 1</option>
							<option value="2">model 2</option>
							<option value="4">model 3</option>
						</select>
						<select class="my-2 btn w-75">
							<option>{{"selectYear" | translate}}</option>
							<option value="1">2020</option>
							<option value="2">2021</option>
							<option value="4">2022</option>
						</select>
						<h4 class="widget-header">{{"price" | translate}}</h4>
						<div class="block">
											<input class="range-track w-100" type="text" data-slider-min="0" data-slider-max="5000" data-slider-step="5"
											data-slider-value="[0,5000]">
									<div class="d-flex justify-content-between mt-2">
											<span class="value">$10 - $5000</span>
									</div>
						<h4 class="widget-header mt-3">{{"Condition" | translate}}</h4>
						<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" value="">
							{{"new" | translate}}
						</label>
						</div>
						<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" value="">
							{{"used" | translate}}
						</label>
						</div>
						
						
						</div>
						<button type="submit" class="btn btn-light w-100 mt-3 "><span class="bi bi-search"></span></button>
					</div>

					
					<div class="widget product-shorting">
					
					</div>

				</div>
			</div>
			<div class="col-lg-9 col-md-8">
				<div class="category-search-filter">
					<div class="row">
						<div class="col-md-6 text-center text-md-left">
							<strong>{{"sort" | translate}}</strong>
							<select>
								<option>{{"Recommended" | translate}}</option>
								<option value="1">{{"TopRated" | translate}}</option>
                                <option value="2">{{"lowestPrice" | translate}}</option>
                                <option value="4">{{"heightPrice" | translate}}</option>
								
                              
							</select>
						</div>
					</div>
				</div>



	<div class="product-grid-list">
		<div class="row mt-30">


			<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-2.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>

	<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-1.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>


					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-3.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>


					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-1.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>


					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-2.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>


					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-1.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>



					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-1.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>



					<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-4.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-3.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>


									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-4.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-2.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-1.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-4.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-3.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>

									<!-- try -->

			<div class="col-lg-4 col-md-6  ">
						<!-- product card -->
				<div class="product-item bg-light w-100">
					<div class="card">
						<div class="thumb-content">
							<div class="price">$200</div>
								<a routerLink="/productdetails">
								<img class="card-img-top img-fluid" src="../../../assets/images/products/products-2.jpg" alt="Card image cap">
								</a>	
							</div>
							<div class="card-body">
								<h4 class="card-title"><a routerLink="/productdetails">{{"carType" | translate}} </a></h4>
								<ul class="list-inline product-meta">
									<li class="list-inline-item">
										<a routerLink="/productdetails">
											<i class="fa fa-folder-open-o"></i>Lamborghini</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"date" | translate}}</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>{{"model" | translate}} 2015</a>
									</li>
									<li class="list-inline-item">
										<a ><i class="fa fa-calendar"></i>
											42,717 km</a>
									</li>
								</ul>
								<p class="card-text">{{"loerm" | translate}}  </p>
							</div>
						</div>
					</div>
				</div>


			
						
				
				
						
					</div>
				</div>
				<div class="pagination justify-content-center mb-2">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="category.html" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="category.html">1</a></li>
							<li class="page-item active"><a class="page-link" href="category.html">2</a></li>
							<li class="page-item"><a class="page-link" href="category.html">3</a></li>
							<li class="page-item">
								<a class="page-link" href="category.html" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>